*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,body
{
  height: 100%;
}

/* Classes auxiliares (boot css) [classes que irao ser utilizadas durante todo o projeto]*/

.container
{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.w33
{
  width: 33.3%;
}

.w40
{
  width: 40%;
}

.w50
{
  width: 50%;
}

.w60
{
  width: 60%;
}

.w100
{
  width: 100%;
}

.clear
{
  clear: both;
}

.center
{
  text-align: center;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

/* Classes desse site */

/* Header do site */

header
{
  padding: 10px 0;
}

.logo h2
{
  font-size: 23px;
  font-weight: normal;
}

.logo a
{
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

nav.menu-desktop ul
{
  top: 10px;
  position: relative;
}

nav.menu-desktop li
{
  padding: 0 15px;
  display: inline-block;
}

nav.menu-desktop a
{
  color: #000;
  text-decoration: none;
}

nav.menu-desktop a:hover
{
  text-decoration: underline;
}

nav.menu-mobile
{
  display: none;
}

nav.menu-mobile ul
{
  display: none;
}

/* section main */

section.main-bg
{
  width: 100%;
  padding: 140px 0;
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/bg.png');
}

section.main-bg > .container /* Chamando exclusivamente oque esta dentro do container */
{
  z-index: 2;
  position: relative;
}

.overlay
{
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

section.main-bg h2
{
  font-size: 40px;
  color: #57ceca;
  font-weight: normal;
}

section.main-bg p
{
  color: #FFF;
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
}

section.diferenciais
{
  padding: 30px 0;
  text-align: center;
}

.line-text
{
  display: inline-block;
}

.line-text h2
{
  font-size: 30px;
  color: #57ceca;
  font-weight: normal;
}

.icones-diferenciais
{
  margin-top: 35px;
}

.box-icone-single
{
  padding: 0 30px;
  margin-bottom: 20px;
}

.box-icone-single h2
{
  color: gold;
  font-size: 40px;
}

.box-icone-single p
{
  font-size: 17px;
}

section.sobre-equipe
{
  padding: 30px 0;
  background-color: #e5e5e5;
}

section.sobre-equipe > .container
{
  display: flex;
  flex-wrap: wrap;
}

.sobre-container p
{
  color: #000;
  font-size: 17px;
  margin-top: 10px;
}

.avatar-box
{
  padding: 50px 0;
}

.img-avatar
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background-size: 100% 100%;
}

.descricao-avatar
{
  padding: 10px 0;
  display: inline-block;
  width: calc(100% -100px);
}

.img-avatar h3
{
  float: right;
  font-style: italic;
  font-weight: normal;
}

.descricao-avatar p
{
  margin-right: 50px;
  font-weight: lighter;
}

section.inscricao
{
  padding: 15px 0;
  background: #57ceca;
}

h2.inscricao-texto
{
  color: #FFF;
  font-weight: normal;
}

.inscricao-form input[type=text]
{
  height: 40px;
  border: none;
  background: #FFF;
  display: inline-block;
  width: calc(100% - 120px);
}

.inscricao-form input[type=submit]
{
  width: 120px;
  height: 40px;
  border: none;
  color: #FFF;
  cursor: pointer;
  background: #1d6c64;
  display: inline-block;
}

section.cards
{
  padding: 30px 0;
}

.card-single
{
  padding: 0 30px;
}

.card-single img
{
  width: 100%;
}

.card-single h3
{
  font-size: 17px;
}

.card-single p
{
  margin: 10px 0;
  font-size: 15px;
  font-weight: lighter;
  padding-bottom: 20px;  
}

footer.footer1
{
  color: #FFF;
  padding: 20px 0;
  background: #57ceca;
}

footer.footer1 h2
{
  font-size: 23px;
  font-weight: normal;
}

footer.footer1 p
{
  margin-top: 8px;
  font-weight: lighter;
}

footer.footer1 a
{
  color: #FFF;
  display: block;
}

div.group-icons a
{
  font-size: 30px;
  margin:15px 10px;
  display: inline-block;
}

footer.footer2
{
  color: #FFF;
  padding: 17px 0;
  text-align: center;
  background: #237a70;
}

  /* Página Sobre */

section.title-page
{
  width: 100%;
  padding: 30px;
  min-height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.title-page h2
{
  font-size: 35px;
  color: #57ceca;
  font-weight: normal;
}

section.title-page p
{
  color: #FFF;
  font-size: 17px;
  margin-top: 15px;
  font-weight: lighter;
}

section.title-page > .container
{
  z-index: 101;
  position: relative;
}

.overlay__title-page
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

section.sobre__noticia
{
  padding: 30px 0;
}

.sobre__noticia__single img
{
  max-width: 100%;
}

.sobre__noticia__single p
{
  font-size: 17px;
  padding:10px 15px;
  line-height: 20px;
  margin-bottom: 15px;
}

section.paralax
{
  width: 100%;
  padding: 30px 0;
  min-height: 300px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../images/bg.png');
}

section.paralax h2.chamada-paralax
{
  font-size: 20px;
  color: #8afdff;
  padding: 5px 25px;
  display: inline-block;
  border: 1px solid #57ceca;
}

section.paralax p
{
  color: #FFF;
  margin-top: 10px;
}

section.equipe
{
  padding: 40px 0;
}

.equipe-circles
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.equipe-circle-single
{
  padding: 0 20px;
  text-align: center;
}

.equipe-circle-single h3
{
  font-size: 20px;
  margin-top: 8px;
}

.avatar-single
{
  width: 60%;
  margin: 0 auto;
  padding-top: 60%;
  position: relative;
}

.avatar-single-container
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-size: 100% 100%;
  background-image: url(../images/bg.png);
}

section.sobre__final
{
  padding: 20px 0;
  background-color: #E5E5E5;
  border-top: 2px solid rgb(210, 210, 210);
}

section.sobre__final p
{
  font-size: 17px;
  margin-top: 10px;
  font-weight: lighter;
}

.card-text
{
  width: 80%;
  margin-top: 10px;
  position: relative;
}

.card-text img
{
  max-width: 100%;
}

.card-text h3
{
  right: 10px;
  bottom: 10px;
  color: #FFF;
  font-size: 20px;
  position: absolute;
  font-weight: normal;
}

section.contato
{
  padding: 30px 0;
  min-height: 53.5%;
}

.formulario h2
{
  padding: 4px 0;
  font-size: 17px;
  color: #FFF;
  text-align: center;
  font-weight: normal;
  background: #DDDDDD;
  border-left: 5px solid #CCCCCC;
}

.formulario form
{
  margin-top: 10px;
}

.formulario input[type=text],
.formulario input[type=email]
{
  width: 100%;
  height: 40px;
  padding-left: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.formulario textarea
{
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  resize: none;
}

.tags-form
{
  padding-left: 100px;
}

.tags-form h2
{
  text-align: center;
  font-weight: normal;
}

.tags-form p
{
  text-align: center;
  font-weight: lighter;
}

.tags-form p.tag-contato
{
  color: #FFF;
  font-size: 17px;
  margin-top: 10px;
  padding: 8px 4px;
  text-align: center;
  background: #249B8F;
}

@media screen and (max-width: 768px)
{
  .w33
  {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .w40
  {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .w50
  {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .w60
  {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .w100
  {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .box-icone-single
  {
    width: 100%;
  }
  
  nav.menu-desktop
  {
    display: none;
  }
  
  nav.menu-mobile
  {
    display: block;
  }

  nav.menu-mobile h2
  {
    cursor: pointer;
  }

  nav.menu-mobile ul
  {
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 999;
    background: #FFF;
    position: absolute;
    text-align: center;
  }

  nav.menu-mobile li
  {
    padding: 8px 0;
    border-top: 1px solid black;
  }

  nav.menu-mobile a
  {
    color: black;
    display: block;
    text-decoration: none;
  }

  .equipe-container
  {
    text-align: center;
  }

  .equipe-container p
  {
    padding: 0 5%;
    text-align: left;
    margin-top: 15px;
  }
  
  .sobre-container
  {
    text-align: center;
  }

  .sobre-container p
  {
    padding: 0 5%;
    text-align: left;
  }

  .descricao-avatar p
  {
    padding-bottom: 50px;
    border-bottom: 2px solid #ccc;
  }

  .card-single
  {
    width: 100%;
  }

  .sobre__noticia__single img
  {
    width: 100%;
  }

  .sobre__noticia__single p
  {
    width: 100%;
  }

  .equipe-circle-single
  {
    padding: 0 8px;
    margin-bottom: 30px;
  }

  .card-text
  {
    width: 100%;
  }

  .tags-form
  {
    padding-left: 0;
  }

  footer.footer1
  {
    text-align: center;
  }
 
}